.wrapper {
    font-family: Arial, Helvetica, sans-serif;
  }
  .boxFeature {
    background-color: rgb(236, 233, 233);
    height: 7rem;
    border-radius: 0.3rem;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    padding: 1rem;
  }
  .input {
    font-size: 1.3rem;
    font-weight: 700;
    height: 3rem;
    border: 1px solid rgb(156, 155, 155);
    width: 30rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    border-radius: 2px;
  }
  .input:focus {
    border: 1px solid black;
  }
  .icon {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
  }
  .boxTable {
    padding: 1rem;
    margin-top: 1rem;
    background-color: rgb(236, 233, 233);
    height: 50rem;
    border-radius: 0.3rem;
  }
  .image {
    border: 2px dotted rgb(11, 140, 246);
    width: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    cursor: pointer;
  }
  .text {
    margin-top: 1rem;
    margin-bottom: 0.3rem;
    font-size: 1.5rem;
    font-weight: 700;
  }